@font-face {
  font-family: "iconfont"; /* Project id 2576047 */
  src: url('./iconfont/iconfont.woff2?t=1627133518308') format('woff2'),
       url('./iconfont/iconfont.woff?t=1627133518308') format('woff'),
       url('./iconfont/iconfont.ttf?t=1627133518308') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toutiao-search:before {
  content: "\e67d";
}

.toutiao-arrow-left-bold:before {
  content: "\e685";
}

.toutiao-arrow-down-filling:before {
  content: "\e688";
}

